s* {
    margin:0;
    padding: 0;
    /* border-box:box-sizing*/
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

/* 
@font-face {
    font-family: ;
    src: url("");
} */

:root {
    --Amarillo: #EFBC0C;
    --Verde: #2C8221;
    --Azul: #0A4E92;
    --Negro: #000000;
    --Gris-oscuro: #808080;
    --Gris-claro: #EFEFEF;
    --Blanco: #FFFFFF;
}

#GRP1-root {
    width:100vw;
    height:100vh; 
    /* display:flex;  */
    background-color: var(--Gris-claro);
}

#GRP1-header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: left;
    background-color: var(--Blanco);
    box-shadow: 0px 1px 5px var(--Gris-oscuro);
    
}

#GRP1-nav-bar {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
} 

#GRP1-nav-bar img {
    margin-left: 20px;
}

#GRP1-nav-bar h2 {
    margin-left: 40px;
    color: var(--Negro);
}

#GRP1-main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.GRP1-contenedor-foto {
    width:60%;
    height: 90%;
    background-image: url("../img/LogoCIFP.gif");
    background-size: cover;
    background-position: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.GRP1-contenedor-formulario {
    width:50%;
    margin: 1%;
    display:flex; 
    align-items:center; 
    flex-direction:column; 
    /* justify-content: space-between;  */
    background-color:var(--Blanco);
}

.GRP1-titles {
    margin-top: 10%;
    font-size: 60px;
}

#GRP1-formulario-login {
    font-weight: bold;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    min-width: 90%;
    height: max-content;
    font-size: 20px;
}

.GRP1-input {
    margin-bottom: 40px;
}

.GRP1-texto {
    border-left: hidden;
    border-right: hidden;
    font-size: 20px;
}

.GRP1-texto:hover {
    background-color: var(--Gris-claro);
    cursor: pointer; 
}

.GRP1-input-botones {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: var(--Azul);
    color: var(--Blanco);
    font-size: 20px;
}

.GRP1-input-botones:hover {
    background-color: var(--Gris-oscuro);
    cursor: pointer;
}

.GRP1-formulario-login hr {
    margin-bottom: 35px;
    display: block;
    border-style: solid;
    border-width: 1px;
    color: var(--Negro);
    width: 100%s;
}

#GRP1-footer {
    position: absolute;
    text-align: center;
    box-shadow: 0px 1px 7px var(--Gris-oscuro);
    width: 100%;
    height: 6%;
    background-color: var(--Blanco);
    bottom: 0%;
}

#GRP1-footer p {
    font-size: 20px;
    font-weight: 700;
    padding: 1%;
}

@media (max-width:500px) {
    
    .GRP1-contenedor-foto {
        background-image: url(../img/version_4.gif);
        background-size: 400%;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .GRP1-formulario-login {
        width:80vw; 
        height:80vh; 
        display:flex; 
        align-items:center; 
        flex-direction:column; 
        background-color: rgba(0, 0, 0, 0.3); 
        margin-bottom: 20%;
        .GRP1-formulario>h2{
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
            font-size: xx-large;
        }
        
        .GRP1-formulario>input[type="text"]:hover::placeholder{
            color: var(--Blanco);
        }
        
        .GRP1-formulario>input{
            width: 70%;
            height: 10%;
            text-align: center;
            margin: 20px;
            border-radius: 10px;
            border-style: none;
        }
        
        .GRP1-contrasenya{
            display: flex;
            flex-direction: row;
            width: 70%;
            height: 10%;
            border-style: none;
        }
        
        .GRP1-contrasenya>input{
            width: 100vw;
            text-align: center;
            border-radius: 10px;
            border-style: none;
        }
        
        .GRP1-contrasenya:hover>input{
            transition: 0.5S ;
            background-color: var(--Gris-oscuro);
            color: var(--Blanco);
            cursor: text;
        }
        
        .GRP1-contrasenya:hover>input::placeholder {
            color: var(--Blanco)
        }
        
        .GRP1-formulario>input[type=button] {
            background-color: var(--Azul);
        }
        
        .GRP1-formulario>input:hover {
            transition: 0.5S ;
            background-color: var(--Gris-oscuro);
            color: var(--Blanco);
            cursor: pointer;
        }
        
        #GRP1-footer{
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 10%;
            background-color: var(--Blanco);
            /* Barra Navegación Blanca */
            color: var(--Negro);
            padding: 15px;  
            box-shadow: 0 3px 7px 0 rgba(128, 128, 128, 0.2);
            /* Sombra #808080 */
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
