@import url("index.css");

.container-view-aspirante {
    display: none;
}

.v2container-view-aspirante {
    display: block;
}

#GRP-homeAspirante {
    width: 100vw;
    background-color: var(--Blanco);
}

.box-home-aspirante {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
}

.container-presentacion-aspirante {
    width: 70vw;
    height: 100%;
}

.container-servicios-aspirante {
    width: 70vw;
    height: 100%;
}

.box-presentacion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Gris-claro);
}

.box-imagen-perfil {
    width: 100%;
    height: 10%;
}

.box-aspirante-nav-bar {
    width: 100%;
    height: 90%;
}

.aspirante-nav-bar {
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}