@import url("index.css");

img {
    width: 100px;
    height: 100px;
}

#container-perfil-aspirante {
    width: 100vw;
    color: var(--Gris-oscuro);
}

.box-perfil-intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    background-color: var(--Blanco);
    border-radius: 10px;
    text-align: center;
}

.box-perfil-intro section {
    width: 60%;
    height: 250px;
    margin: 2%;
    padding: 2%;
    display: flex;
    align-items: start;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--Gris-oscuro);
}

.box-perfil-intro section hr {
    width: 100%;
    height: 2px;
}

.box-perfil-intro h1 {
    text-align: start;
    padding: 2%;
    font-size: 26px;
}

.box-image-perfil {
    width: 100%;
    height: 10rem;
    background-image: url("../../img/background-perfil.jpg");
    background-position: center;
    background-size: cover;
    padding: 4%;
}

.box-image-perfil img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

